<%- contentFor('css') %>

<%- contentFor('content') %>
<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">Home</a></li>
                        <li class="active">마트 관리</li>
                    </ol>
                    <h4 class="page-title">마트 관리</h4>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                <div class="m-b-10 row">
                    <label class="col-md-2 col-form-label" for="simpleinput">마트명</label>
                    <div class="col-md-10">
                        <input type="text" id="name" class="form-control" placeholder="검색할 마트명의 일부 또는 전부를 입력하세요" value="<%=searchName %>">
                    </div>
                </div>
                <div class="m-b-10 m-t-10 row">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="button" class="btn btn-inverse waves-effect waves-light btn-md" id="addNew">검색 <i class="fa fa-search"></i></button>        
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body table-responsive">
                <button type="button" class="btn btn-primary waves-effect waves-light m-l-10 btn-md pull-right" id="addNew">마트 추가 <i class="fa fa-plus"></i></button>
                <table class="table table-striped" id="datatable-editable">
                    <thead>
                        <tr>
                            <th>마트명</th>
                            <th>마트로고</th>
                            <th>사업자등록번호</th>
                            <th>주소</th>
                            <th>연락처</th>
                            <th>생성일</th>                            
                            <th>수정일</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% list.forEach(item => { %> 
                        <tr class="gradeA">
                            <td><%=item.NAME %></td>
                            <td></td>
                            <td><%=item.REGNO %></td>
                            <td>(<%=item.POSTCODE %>) <%=item.ADDRESS %> <%=item.ADDRESSEXTRA %></td>
                            <td><%=item.CONTACT %></td>
                            <td><%= moment(item.CREATED).format('YYYY-MM-DD hh:mm:ss') %></td>
                            <td><%= moment(item.MODIFIED).format('YYYY-MM-DD hh:mm:ss') %></td>
                            <td class="actions">
                                <a href="#" class="on-default edit-row" onclick="javascript:editMart(<%=item.SEQ %>);"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="on-default remove-row" onclick="javascript:removeMart(<%=item.SEQ %>);"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <%}) %>                                        
                    </tbody>
                </table>
                <div class="row" style="text-align: center;">
                    <ul class="pagination pagination-split" id="mart-page"></ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</div>

<%- contentFor('script') %>
<script>
    var totalCount =<%=totalCount %>; 
    var page = <%=page %>;
    var rowCount = <%=rowCount %>;   

    $(document).ready(function() {
        // 페이저 만들기
        if (totalCount <= rowCount) {
            $('#mart-page').hide();
        } else {
            createPager('mart-page', totalCount, rowCount, page, 5, `/mart/list?name=${$('#name').val()}`);
        }
    });

</script>