<%- contentFor('css') %>

<%- contentFor('content') %>
<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">Home</a></li>
                        <li class="active">마트 관리</li>
                    </ol>
                    <h4 class="page-title">마트 관리</h4>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                <div class="m-b-10 row">
                    <label class="col-md-2 col-form-label" for="simpleinput">마트명</label>
                    <div class="col-md-10">
                        <input type="text" id="name" class="form-control" placeholder="검색할 마트명의 일부 또는 전부를 입력하세요" value="<%=searchName %>">
                    </div>
                </div>
                <div class="m-b-10 m-t-10 row">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="button" class="btn btn-inverse waves-effect waves-light btn-md" id="button-search">검색 <i class="fa fa-search"></i></button>        
                        <button type="button" class="btn btn-default waves-effect waves-light btn-md" id="button-search-reset">조건 리셋 <i class="fa fa-search"></i></button>        
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body table-responsive">
                <table class="table table-striped" id="datatable-editable">
                    <thead>
                        <tr>
                            <th>마트명</th>
                            <th>마트로고</th>
                            <th>사업자등록번호</th>
                            <th>주소</th>
                            <th>연락처</th>
                            <th>생성일</th>                            
                            <th>수정일</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (list) {
                            list.forEach(item => { %> 
                        <tr class="gradeA">
                            <td><%=item.NAME %></td>
                            <td><% if (item.LOGOFILE) {%><img src='<%=hostName %>/api/files/get/<%=item.LOGOFILE %>'><% } %></td>
                            <td><%=item.REGNO %></td>
                            <td>(<%=item.POSTCODE %>) <%=item.ADDRESS %> <%=item.ADDRESSEXTRA %></td>
                            <td><%=item.CONTACT %></td>
                            <td><%= moment(item.CREATED).format('YYYY-MM-DD hh:mm:ss') %></td>
                            <td><%= moment(item.MODIFIED).format('YYYY-MM-DD hh:mm:ss') %></td>
                            <td class="actions">
                                <a href="#" class="on-default edit-row" onclick="javascript:editMart(<%=item.SEQ %>);"><i class="fa fa-pencil fa-sm"></i></a>
                                <a href="#" class="on-default edit-row" onclick='javascript:editMartImage(<%=item.SEQ %>);'><i class="fa fa-picture-o fa-sm"></i></a>
                                <a href="#" class="on-default remove-row" onclick="javascript:removeMart(<%=item.SEQ %>);"><i class="fa fa-trash-o fa-sm"></i></a>
                            </td>
                        </tr>
                        <%})
                     } %>                                        
                    </tbody>
                </table>
                <div class="row" style="text-align: center;">
                    <ul class="pagination pagination-split" id="mart-page"></ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->

    <!-- martEditModal -->
    <input type="hidden" id="saveType">
    <input type="hidden" id="SEQ">
    <div id="martEditModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="martEditModal" aria-hidden="true" style="display: none;">                
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="martEditModal-Title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name" class="control-label">마트명 <em class="required">필수</em></label> 
                                <input type="text" class="form-control" id="NAME" name="NAME" placeholder="마트명" required><span class="validate-message" for="NAME">마트명이 입력되지 않았습니다</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="address" class="control-label">사업자등록번호 <em class="required">필수</em></label>
                                <input type="text" class="form-control" id="REGNO" name="REGNO" placeholder="사업자등록번호" required><span class="validate-message" for="REGNO">사업자등록번호가 입력되지 않았습니다</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="contactType" class="control-label">연락처</label>
                                <input type="text" class="form-control" id="CONTACT" placeholder="연락처">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="address" class="control-label">우편번호</label>
                                <input type="text" class="form-control" id="POSTCODE" placeholder="우편번호">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="address" class="control-label">주소</label>
                                <input type="text" class="form-control" id="ADDRESS" placeholder="주소">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address" class="control-label">상세 주소</label>
                                <input type="text" class="form-control" id="ADDRESSEXTRA" placeholder="상세 주소">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="contact" class="control-label">인사 담당자</label>
                                <input type="text" class="form-control" id="HRONAME" placeholder="인사 담당자">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="address" class="control-label">인사 담당자 직급</label>
                                <input type="text" class="form-control" id="HRORANK" placeholder="인사 담당자 직급">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="location" class="control-label">인사 담당자 연락처</label>
                                <input type="text" class="form-control" id="HROCONTACT" placeholder="인사 담당자 연락처">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" id="button-actionSave">저장</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.martEditModal -->
    
    <!-- martUpdateImageModal -->
    <div id="martUpdateImageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="academyUpdateImageModal" aria-hidden="true" style="display: none;">                
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="martUpdateImageModal-Title">마트 로고 이미지 관리</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="LOGOFILE" class="control-label">로고 이미지 파일</label>
                                <input type="file" class="form-control" id="LOGOFILE" placeholder="로고 이미지" accept=".jpg,.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" id="button-actionSaveImage">저장</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.martUpdateImageModal -->
</div>

<%- contentFor('script') %>

<script>
    let totalCount =<%=totalCount %>; 
    let page = <%=page %>;
    let rowCount = <%=rowCount %>;   
    let message = <%=message %>;   

    $(document).ready(function() {
        // 페이저 만들기
        if (totalCount <= rowCount) {
            $('#mart-page').hide();
        } else {
            createPager('mart-page', totalCount, rowCount, page, 5, `/mart/list?name=${$('#name').val()}`);
        }
        $("#name").keypress(function(e) {
            if (e.keyCode == 13 && $(this).val().length > 0) search();
        });
        $("#button-search").click(function() { search(); })
        $("#button-search-reset").click(function() {
            $('#name').val('');
        })
        $("#button-actionSave").click(function() { saveMart(); });
        $("#button-actionSaveImage").click(function() { uploadLogo(); })

        if (message == 1) {
            alert('마트를 삭제할 때 오류가 발생했습니다. 다시 시도하여 주십시오.');
        }
    });

    function search() {
        self.location = `/mart/list?name=${$('#name').val()}`;
    }

    function editMart(SEQ) {
        $('#martEditModal-Title').html("마트 정보 변경");

        $("#saveType").val("edit");

        doGetCallSync("/mart/get?seq=" + SEQ)
        .success(function(json){
            if (json.result == "success") {
                $("#SEQ").val(json.data.SEQ);
                $("#NAME").val(json.data.NAME);
                $("#REGNO").val(json.data.REGNO);
                $("#POSTCODE").val(json.data.POSTCODE);
                $("#ADDRESS").val(json.data.ADDRESS);
                $("#ADDRESSEXTRA").val(json.data.ADDRESSEXTRA);
                $("#CONTACT").val(json.data.CONTACT);
                $("#HRONAME").val(json.data.HRONAME);
                $("#HROCONTACT").val(json.data.HROCONTACT);
                $("#HRORANK").val(json.data.HRORANK);

                $('#martEditModal').modal();
            }
        })
        .fail(function(sender, message, details){
            alert("마트 정보를 가져오는 도중에 오류가 발생했습니다.");
            return false;
        });
        
    }

    function saveMart() {
        let invalidate = 0;

        // 텍스트 박스 validate
        if (!validateText()) invalidate++;
        if (invalidate > 0) {
            $("#" + $($('.validate-message:visible')[0]).attr("for"))[0].focus();
            return;
        }

        doPostCallSync("/mart/update", {
            SEQ: $("#SEQ").val(),
            NAME: $("#NAME").val().trim(),
            REGNO: $("#REGNO").val().trim(),
            POSTCODE: $("#POSTCODE").val(),
            ADDRESS: $("#ADDRESS").val(),
            ADDRESSEXTRA: $("#ADDRESSEXTRA").val().trim(),
            CONTACT: $("#CONTACT").val().trim(),
            HRONAME: $("#HRONAME").val().trim(),
            HROCONTACT: $("#HROCONTACT").val().trim(),
            HRORANK: $("#HRORANK").val().trim(),
        })
        .success(function(json){
            if (json.result == "success") location.reload();
        })
        .fail(function(sender, message, details){
            alert("마트 정보를 변경하는 도중에 오류가 발생했습니다.");
            return false;
        });        
    }

    function removeMart(SEQ) {
        if (confirm("마트를 삭제하시겠습니까? 마트 사용자도 로그인을 할 수 없게 됩니다. 이 작업은 되돌릴 수 없습니다."))
        {
            if (confirm("다시 한 번 확인합니다. 정말로 삭제하겠습니까?")) {
                self.location = `/mart/remove?seq=${SEQ}&name=${$('#name').val()}&page=${page}`;
            }
        }
        return false;
    }

    function editMartImage(SEQ) {
        doGetCallSync("/mart/get?seq=" + SEQ)
        .success(function(json){
            if (json.result == "success") {
                $("#SEQ").val(json.data.SEQ);
                $("#LOGOFILE").val('');

                $('#martUpdateImageModal').modal();
            }
        })
        .fail(function(sender, message, details){
            alert("마트 정보를 가져오는 도중에 오류가 발생했습니다.");
            return false;
        });
    }

    function uploadLogo() {
        var logoImage = null;
        var titleImage = null;
        // 파일이 있으면 먼저 업로드한다 
        if ($("#LOGOFILE").val() != "") {
            var formData = new FormData();
            formData.append("location", 'martlogo');
            formData.append("uploadFile", $('#LOGOFILE')[0].files[0]);
            $.ajax({
                url: hostName + '/api/files/uploadSingle',  
                type: 'POST',
                dataType: "json",
                data: formData,
                async: false,
                success:function(json){
                    // 업로드가 성공했으면 정보를 업데이트
                    if (json.result == "success") {
                    logoImage = json.data.filename;
                    doPostCallSync("/mart/updatelogo", {
                        SEQ: $("#SEQ").val(),
                        location: 'martlogo',
                        LOGOFILE: logoImage
                    })
                    .success(function(json){
                        if (json.result == "success") location.reload();
                    })
                    .fail(function(sender, message, details){
                        alert("로고 이미지를 변경하는 도중에 오류가 발생했습니다.");
                    });                         
                }
                },
                cache: false,
                contentType: false,
                processData: false
            }); 
        } else {
            alert("등록된 이미지가 없습니다.");
        }

        // location.reload()
    }

</script>