<%- contentFor('css') %>
<link href="/plugins/summernote-0.8.18-dist/summernote.min.css" rel="stylesheet" />

<%- contentFor('content') %>
<div class="content">
    <div class="container">
        <!-- page title -->
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb pull-right">
                    <li><a href="#">Home</a></li>
                    <li class="active">공지사항 관리</li>
                </ol>
                <h4 class="page-title">공지사항 관리</h4>
            </div>
        </div><!-- page title /end -->

        <div class="panel">
            <div class="panel-body table-responsive">
                <button type="button" class="btn btn-primary waves-effect waves-light m-l-10 btn-md pull-right" id="create-button" data-toggle="modal"  onclick="javascript:createNotice()" >공지사항 추가 <i class="fa fa-plus"></i></button>
                <table class="table table-striped" id="datatable-editable">
                    <thead>
                        <tr>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>수정일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(list){
                        list.forEach(item => { %> 
                                <tr>
                                    <td data-toggle="modal" data-target="#noticeViewModal" style="cursor: pointer;" id="button-create" onclick="javascript:getModalData('<%=item.SEQ%>', 'dt');" ><a href="javascript:void(0);"  id="getMethod" class="getMethod"><%=item.SUBJECT %></a></td><!-- 모달버튼 -->
                                    <td><%=item.LOGINID %></td>
                                    <td><%= moment(item.CREATED).format('YYYY-MM-DD HH:mm:ss') %></td>
                                    <td><%= moment(item.MODIFIED).format('YYYY-MM-DD HH:mm:ss') %></td>
                                    <td class="actions">
                                        <a href="javascript:void(0);" onclick="javascript:editNotice(<%=item.SEQ %>);" class="on-default edit-row" id="updata-button" ><i class="fa fa-pencil" data-toggle="modal" ></i></a>
                                        <a href="#" class="on-default remove-row" onclick="javascript:removeNotice(<%=item.SEQ %>);"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            <%})} %>
                    </tbody>
                </table>
                <!-- 페이지 만들기 -->
                <div class="row" style="text-align: center;">
                    <ul class="pagination pagination-split" id="notice-page"></ul>
                </div>
            </div><!-- panel-body -->
        </div><!--panel-->
    </div><!-- container -->


    <!-- 자세히  모달 시작 -->
    <div id="noticeViewModal" class="modal fade" tabindex="-1" aria-labelledby="noticeViewModal" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="noticeViewModal-Title">공지사항</h4>
                </div><!--/.modal-header-->
                    <div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">제목</label>
                                        <p id="dt-subject" style="padding: 10px 0;"></p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="dt-content" class="control-label" >공지사항 내용</label>
                                    <div class=" view-content dt-content" id="dt-content" name="dt-content" style="padding: 20px 0;"></div>
                                </div>
                            </div>
                        </div><!--/.modal-body-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default waves-effect" id="btn_close" data-dismiss="modal">닫기</button>
                            </div>
                    </div>
            </div><!--modal-content-->
        </div><!--modal-dialog-->
    </div><!--noticeCreateModal 자세히 모달 끝 -->

    <!-- 수정 모달 시작 -->
    <input type="hidden" id="createType" />
    <input type="hidden" name="SEQ" id="SEQ" value="">
    <div id="noticeModal" class="modal fade" tabindex="-1" aria-labelledby="noticeModal" role="dialog" aria-hidden="true" style="display: none; overflow-y: auto;">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-clear" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="noticeModal-Title"></h4>
            </div><!--/.modal-header-->
                <div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"></div>
                                    <label for="SUBJECT" class="control-label">제목</label>
                                    <input type="text" class="form-control title-cut" name="SUBJECT" id="SUBJECT" placeholder="제목을 입력하세요." autofocus>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-12">
                                <label for="CONTENT" class="control-label" >공지사항 내용</label>
                                <textarea type="text"  class="form-control content-text content-edit" name="CONTENT" id="CONTENT" ></textarea>
                            </div>
                        </div>
                    </div><!--/.modal-body-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect close-clear" data-dismiss="modal">닫기</button>
                        <button type="button"  class="btn btn-info waves-effect waves-light" id="button-notice" onclick="javascript:noticeSubmit()" ></button> 
                        <input type="hidden" id="modalType" value="" />
                    </div><!--/."modal-footer-->
                </div>
            </div><!--modal-content-->
        </div><!--modal-dialog-->
    </div><!--noticeCreateModal 수정 모달 끝 -->


    
</div><!--/.content-->

<%- contentFor('script') %>
<script>
    var totalCount = <%= totalCount %>; 
    var page = <%= page %>;
    var rowCount = <%= rowCount %>;   
  
    $(document).ready(function() {

        // 페이지 만들기
        if (totalCount <= rowCount) {
            $('#notice-page').hide();
        } else {
            createPager('notice-page', totalCount, rowCount, page, 5, `/notice/list?`);
        } 
        
        // summernote 적용
       $('#CONTENT').summernote({
            height: 350,  
            lang: 'ko-KR',               
            dialogsInBody: true,
            minHeight: 300,             
            maxHeight: 400,             
            focus: false,
            placeholder:'내용을 입력하세요',
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert', ['link', 'picture', 'video']],
            ],
            callbacks: {
                onImageUpload: function(files) {
                
                    var form_data = new FormData();
                    form_data.append("location", "notice");
                    form_data.append("uploadFile", files[0]);
                    $.ajax({
                        url: hostName + '/api/files/uploadSingle',    
                        type: 'POST',
                        dataType: "json",
                        data: form_data,
                        async: false,
                        success:function(json){
                            if (json.result == "success") {
                                $('#CONTENT').summernote('insertImage', hostName + "/PDSData/uploads/notice/" + json.data.filename, "filename");
                            }
                        },
                        cache: false,
                        contentType: false,
                        processData: false
                    }); 
                }
            }
        }); //summernote end

    }); //end

    // 수정, 추가 버튼 함수 호출
    function noticeSubmit() {
        var value = $('#modalType').val();
        if(value === 'create'){
            saveNotice();
        } else if(value === 'edit'){
            editSaveNotice();
        } else {
            alert('닫기를 클릭하신 후 \n 다시 실행하여 주세요.');
            return false;
        }
        
    } 


    // get 자세히 보기 모달
    function getModalData(seq, type) {
        
        $("#subject").text();
        $.get(`/notice/view?seq=${seq}`, function(res) {
            var data = res.data;
            
            if (type == 'dt') {
                $("#dt-subject").text(data.SUBJECT);
                $("#dt-content").html(data.CONTENT); 
            }
        })
        .done(function(json){
            if (json.result == "success") {
                return true;
            }
        })
        .fail(function(sender, message, details){
            alert('공지사항 정보를 가져오는 도중에 오류가 발생하였습니다.');
            return false;
        })

    } 


    // 공지사항추가 버튼 onclick
    function createNotice(){
        $('#noticeModal-Title').html('공지사항 추가');
        $('#button-notice').html('작성 완료');
        $('#modalType').val('create');
        $('#noticeModal').modal();
        
        
    }
    // 생성 모달
    function saveNotice(){
        var SUBJECT = $('#SUBJECT').val();
        var CONTENT = $('#CONTENT').val();
        var subjectLength = 50;
        var contentLength = 1968;
        var SUBJECT = $.trim(SUBJECT);

        $('#SUBJECT').val(SUBJECT);
        // 공백일때 경고
        if(SUBJECT == '' || SUBJECT == null ){
            alert('제목을 입력하여 주세요.');
            return $('#SUBJECT').focus();

        }else if(CONTENT == '' || CONTENT == null || CONTENT == '<p><br></p>'){
            alert('내용을 입력하여 주세요');
            return false;

        } else if(SUBJECT.length > subjectLength){
            alert('제목 창에 입력 하실 수 있는 글자수를 초과하였습니다.\n최대로 입력 가능한 글자수는 '+subjectLength+' 자 미만입니다.');
            $('#SUBJECT').focus();
            return false;

        } else if(CONTENT.length > contentLength){
            alert('입력 하실 수 있는 글자수를 초과하였습니다.\n최대로 입력 가능한 글자수는 '+contentLength+' 자 미만입니다.');
            return false;
        }
        
        // POST CREATE
        doPostCallSync('/notice/create', {
            SEQ: $('#SEQ').val(),
            SUBJECT: $('#SUBJECT').val(),
            CONTENT: $('#CONTENT').val(),
        })
        .done(function(json){
            
            if (json.result == "success") {
                 
                location.reload();
            } else if(json.result == 'fail') {
                
                return false;
            } else {
                
                return false;
            }
        })
        .fail(function(json){
            alert('공지사항 추가하는 도중에 오류가 발생하였습니다.');
            return false;
        });
    } //saveNotice end.


    // 수정 onclick modal GET
    function editNotice(seq) {

        $('#noticeModal-Title').html('공지사항 수정');
        $('#button-notice').html('수정 완료');
        $('#modalType').val('edit');
        

        doGetCallSync(`/notice/get?seq=${seq}`)
        .done(function(json){
            if (json.result == 'success') {
                $('#SEQ').val(json.data.SEQ);
                $('#SUBJECT').val(json.data.SUBJECT);
                $('#CONTENT').summernote('code', json.data.CONTENT);
                
                $('#noticeModal').modal();
            }
        })
        .fail(function(sender, message, details){
            alert('공지사항 정보를 가져오는 도중에 오류가 발생하였습니다.');
            return false;
        });

    } // editNotice end .

    // 수정 모달 update
    function editSaveNotice() {

        var SUBJECT = $('#SUBJECT').val();
        var CONTENT = $('#CONTENT').val();
        var subjectLength = 50;
        var contentLength = 1968;
        var SUBJECT = $.trim(SUBJECT);

        $('#SUBJECT').val(SUBJECT);
        // 공백일때 경고
        if(SUBJECT == '' || SUBJECT == null ){
            alert('제목을 입력하여 주세요.');
            return $('#SUBJECT').focus();

        }else if(CONTENT == '' || CONTENT == null || CONTENT == '<p><br></p>'){
            alert('내용을 입력하여 주세요');
            return false;

        } else if(SUBJECT.length > subjectLength){
            alert('제목 창에 입력 하실 수 있는 글자수를 초과하였습니다.\n최대로 입력 가능한 글자수는 '+subjectLength+' 자 미만입니다.');
            $('#SUBJECT').focus();
            return false;

        } else if(CONTENT.length > contentLength){
            alert('입력 하실 수 있는 글자수를 초과하였습니다.\n최대로 입력 가능한 글자수는 '+contentLength+' 자 미만입니다.');
            return false;
        }


        // DO POST UPDATE
        doPostCallSync('/notice/update', {
            SEQ: $('#SEQ').val(),
            SUBJECT: $('#SUBJECT').val(),
            CONTENT: $('#CONTENT').val(),
            USER_SEQ: $('#USER_SEQ').val(),
            CREATED: $('#CREATED').val(),
            MODIFIED: $('#MODIFIED').val(),
        })
        //.success(function(json){
        .done(function(json){    
            if (json.result == "success") {
                
                location.reload();
            } else if(json.result == 'fail') {
                
                return false;
            } else {
                
                return false;
            }
        })
        .fail(function(json){
            alert("공지사항을 수정하는 도중에 오류가 발생하였습니다.");
            return false;
        });
        
    } // editSaveNotice end .

    // 생성모달 -  닫기, X 버튼 클릭시 내용 리셋
    $('.close-clear').click(function() {
        $('#SUBJECT').val('');
        $('#CONTENT').summernote('reset');
        $('#modalType').val('');
        $('#button-notice').html('');
        $('#noticeModal-Title').html('');
    });
    // 공지사항 추가+ 리셋 하기
    $('#create-button').click(function() {
        $('#SUBJECT').val('');
        $('#CONTENT').summernote('reset');
    });


    // 리스트 - 공지사항 삭제
    function removeNotice(seq) {
        if (confirm('정말 공지사항을 삭제하시겠습니까?')){
            doGetCallSync(`/notice/remove?seq=${seq}`)
            .done(function(json){
                if(json.result == 'success'){
                    alert('공지 사항이 삭제되었습니다.');
                    location.reload();
                } else {
                    alert('delete fail')
                    return false;
                } 
            })
            .fail(function(json){
                alert('공지사항을 삭제하는 도중에 오류가 발생하였습니다.');
                return false;
            });
        }
    }

    
    // 리스트 - 제목 텍스트 자르기
    $('#getMethod').each(function(){
        if($(this).text().length >= 20 ){
            $(this).text($(this).text().substring(0, 20) + ' ...');
        }
    });


    // 생성, 수정 모달 - 제목  글자수 초과할 시 경고
    var contentLength = 50;
    $('.title-cut').on('keyup', function() {
            if($(this).val().length > contentLength) {
                alert('입력 하실 수 있는 글자수를 초과하였습니다.\n최대로 입력 가능한 글자수는 '+contentLength+' 자 미만입니다.');
                $(this).val($(this).val().substring(0, contentLength));
                
            }
     });
    
    
    
    

    
    


</script>
<script src="/plugins/summernote-0.8.18-dist/summernote.min.js"></script>
<script src="/plugins/summernote-0.8.18-dist/lang/summernote-ko-KR.js"></script>
