<%- contentFor('css') %>
<link rel="stylesheet" href="/plugins/morris/morris.css" />

<%- contentFor('content') %>

<!-- Start content -->
<div class="content">
    <div class="container">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">Home</a></li>
                        <li class="active">사용자 관리</li>
                    </ol>
                    <h4 class="page-title">사용자 조회</h4>
                </div>
            </div>
        </div>
        <table class="table table-hover" style = "background-color:#EEE">
            <tr style = "background-color:#fff">
                <td><font size=2pt><strong><center>SEQ</center></strong></font></td>
                <td><font size=2pt><strong><center>USER_TYPE</center></strong></font></td>
                <td><font size=2pt><strong><center>LOGIN_ID</center></strong></font></td>
                <td><font size=2pt><strong><center>ACTIVE</center></strong></font></td>
                <td><font size=2pt><strong><center>CREATED</center></strong></font></td>
                <td><font size=2pt><strong><center>MODIFED</center></strong></font></td>
                <td><font size=2pt><strong><center>ETC</center></strong></font></td>
            </tr>
            <% list.forEach(item => { %>
            <tr>
                <td><%= item.SEQ %></td>
                <td><%= item.USERTYPE %></td>
                <td><%= item.LOGINID %></td>
                <td><%= item.ACTIVE %></td>
                <td><%= item.CREATED %></td>
                <td><%= item.MODIFIED %></td>
                <td style="">
                </li>
                <ul class="list-inline table-action m-0">
                    <a href="#" class="action-icon"><span class="iconify" data-icon="mdi-square-edit-outline" data-inline="false"></span></a>
                    <li class="list-inline-item"> 
                        <li class="list-inline-item"> 
                            <a href="#" class="action-icon"> <span class="iconify" data-icon="fluent:delete-off-20-regular" data-inline="false"></span></a>
                        </ul>
                    </li>
                </td>
            </tr>
            <% }) %>
        </table>
        <div class="row">
            <div class="col-lg-12" style="float: right;">
                <%
                var curSet = curSet
                var endPage = pnEnd
                var startPage = pntStart
                var totalPage = pnTotal
                var page_list_size = pnSize
                var page_size = showUser
                var curPage = pageNum
                var TotalNum = TotalNum
                %>
                <div class="paging">
                    <% if(curPage > page_list_size){ %>
                        [<a href='1'>처음으로</a>]
                        [<a href='<%= startPage %>'>이전</a>]
                    <% } else {%>
                        [<span>처음으로</span>]
                        [<span>이전</span>]
                    <% } %>
                    <% for(var i = startPage; i <= endPage ; i++) { %>
                        <% if(i == curPage){ %>
                            [<%= i %>]
                        <% } else { %>
                            [<a href="<%= i%>"><%= i%></a>]
                        <% } %>
                    <% } %>
                    <% if(endPage < totalPage){ %>
                        [<a href="<%= endPage %>">다음</a>]
                        [<a href="<%= totalPage %>">끝으로</a>]
                    <% } else { %>
                        [<span>다음</span>]
                        [<span>끝으로</span>]
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</div>
<!-- end content -->

<%- contentFor('script') %>

