<%- contentFor('css') %>
<link rel="stylesheet" href="/plugins/morris/morris.css" />

<%- contentFor('content') %>

<!-- Start content -->
<div class="content">
    <div class="container">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">Home</a></li>
                        <li class="active">사용자 관리</li>
                    </ol>
                    <h4 class="page-title">사용자 조회</h4>
                </div>
            </div>
        </div>
        <!-- 사용자 추가 버튼 -->
        <button type="button" class="btn btn-primary waves-effect waves-light m-l-10 btn-md pull-right" id="addUser">사용자 추가 <i class="fa fa-plus"></i></button>

        <!-- 유저리스트 테이블 -->
        <table class="table table-hover" style="background-color: #eee">
            <tr style="background-color: #fff">
                <td>
                    <font size="2pt"
                        ><strong><center>SEQ</center></strong></font
                    >
                </td>
                <td>
                    <font size="2pt"
                        ><strong><center>USER_TYPE</center></strong></font
                    >
                </td>
                <td>
                    <font size="2pt"
                        ><strong><center>LOGIN_ID</center></strong></font
                    >
                </td>
                <td>
                    <font size="2pt"
                        ><strong><center>ACTIVE</center></strong></font
                    >
                </td>
                <td>
                    <font size="2pt"
                        ><strong><center>CREATED</center></strong></font
                    >
                </td>
                <td>
                    <font size="2pt"
                        ><strong><center>MODIFED</center></strong></font
                    >
                </td>
                <td>
                    <font size="2pt"
                        ><strong><center>ETC</center></strong></font
                    >
                </td>
            </tr>
            <% list.forEach(item => { %>
            <tr>
                <td><%= item.SEQ %></td>
                <td><%= item.USERTYPE %></td>
                <td><%= item.LOGINID %></td>
                <td><%= item.ACTIVE %></td>
                <td><%= item.CREATED %></td>
                <td><%= item.MODIFIED %></td>
                <td class="actions">
                    <a href="#" class="on-default edit-row" onclick="javascript:editUser(<%=item.SEQ %>);"><i class="fa fa-pencil"></i></a>
                    <a href="#" class="on-default remove-row" onclick="javascript:removeUser(<%=item.SEQ %>);"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            <% }) %>
        </table>
        <div>
            <div class="col-lg-3 col-md-3">
                <input type="text" id="simpleinput" class="form-control" placeholder="유저 검색">
            </div>
        </div>
            <!-- </div> -->
        <!-- 페이지네이션 -->
        <div class="row">
            <div class="row" style="text-align: center">
                <ul class="pagination pagination-split" id="users-page"></ul>
            </div>
        </div>
    </div>
    <!-- end container -->
</div>
<!-- end content -->

<%- contentFor('script') %>

<script>
    var totalCount =<%=totalCount %>;
    var page = <%=page %>;
    var rowCount = <%=rowCount %>;

    // 유저 삭제
    function removeUser(userseq) {
        // console.log(userseq);
        self.location = `/user/remove/`+userseq;
    };
    // 유저 수정
    // function updateUser(userseq) {

    
    // };

    // 유저 생성
    // function updateUser() {

    
    // };

    $(document).ready(function() {
        // 페이저 만들기
        if (totalCount <= rowCount) {
            $('#users-page').hide();
        } else {
            createPager('users-page', totalCount, rowCount, page, 5, `/user/list?name=${$('#name').val()}`);
        }
    
    });
</script>
